.overlay {
   background:transparent; 
   position:relative; 
   width:800px;
   height:512px; /* your iframe height */
   top:512px;  /* your iframe height */
   margin-top:-512px;  /* your iframe height */
}